
{{#each article}}
<div class="panel panel-default">
	<div>
		<a href="{{this.link}}" target="_blank">{{this.title}}</a>
		<br>{{this.timeAndSummary}}
		<form action="/api/articles/savenew/{{this.id}}?_method=PUT" method="POST">
			<button type="submit">Save</button>
		</form>
	</div>
</div>
</ul>
{{/each}}

